---
layout: experience-archive
title: "Experience"
permalink: /experience/
author_profile: true
---

{% include base_path %}

<div>
This section will be a collection of my work experience, including internships, research assistantships, and other relevant positions that I have held. It will provide an overview of the organizations I have worked with, the roles I have taken on, and the skills and knowledge I have gained from these experiences. I hope this section can give you a better understanding of my background and qualifications. As a lifelong learner, I am always eager to take on new challenges and opportunities to grow both personally and professionally. Feel free to <strong>click</strong> on the title for more information.
</div>

<div class="experience-list">
  {% for post in site.experience reversed %}
    {% include experience-item.html %}
  {% endfor %}
</div>
