---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

Hi. This part is a portfolio of projects that I have worked on. It includes research projects, software tools, and other technical work that I have done. I am glad to share my work and hope it can be useful to others. But overall, this section will be an archive of my technical achievements and experiences, which I hope to memorize when I look back in the future.

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

